<p id="notice"><%= notice %></p>

<h1>Listing Pizza Orders</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>City</th>
      <th>Province</th>
      <th>Postal code</th>
      <th>Size</th>
      <th>Crust</th>
      <th>Sauce</th>
      <th>Cheese</th>
      <th>Toppings</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Tax</th>
      <th>Total tax</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pizza_orders.each do |pizza_order| %>
      <tr>
        <td><%= pizza_order.first_name %></td>
        <td><%= pizza_order.last_name %></td>
        <td><%= pizza_order.email %></td>
        <td><%= pizza_order.phone_number %></td>
        <td><%= pizza_order.address %></td>
        <td><%= pizza_order.city %></td>
        <td><%= pizza_order.province %></td>
        <td><%= pizza_order.postal_code %></td>
        <td><%= pizza_order.size %></td>
        <td><%= pizza_order.crust %></td>
        <td><%= pizza_order.sauce %></td>
        <td><%= pizza_order.cheese %></td>
        <td><%= pizza_order.toppings %></td>
        <td><%= pizza_order.quantity %></td>
        <td><%= pizza_order.price %></td>
        <td><%= pizza_order.tax %></td>
        <td><%= pizza_order.total_amount %></td>
        <td><%= link_to 'Show', pizza_order %></td>
        <td><%= link_to 'Edit', edit_pizza_order_path(pizza_order) %></td>
        <td><%= link_to 'Destroy', pizza_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pizza order', new_pizza_order_path %>
