<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @pizza_order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @pizza_order.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pizza_order.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @pizza_order.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pizza_order.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @pizza_order.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @pizza_order.province %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @pizza_order.postal_code %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pizza_order.size %>
</p>

<p>
  <strong>Crust:</strong>
  <%= @pizza_order.crust %>
</p>

<p>
  <strong>Sauce:</strong>
  <%= @pizza_order.sauce %>
</p>

<p>
  <strong>Cheese:</strong>
  <%= @pizza_order.cheese %>
</p>

<p>
  <strong>Toppings:</strong>
  <%= @pizza_order.toppings %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @pizza_order.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pizza_order.price %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @pizza_order.tax %>
</p>

<p>
  <strong>Total tax:</strong>
  <%= @pizza_order.total_tax %>
</p>

<%= link_to 'Edit', edit_pizza_order_path(@pizza_order) %> |
<%= link_to 'Back', pizza_orders_path %>
